body{
   background: hsl(212, 45%, 89%);
   width: 1440px;
}

.card{
    width: 230px;
    background:hsl(0, 0%, 100%) ;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    transform: translate(550px,100px);
    border-radius: 10px;
}
#image{
    width: 200px;
    height: 200px;
    border-radius: 10px;
}
#image-container{
    width: 200px;
    height: 200px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 10px 10px 10px 10px;
}
#bold{
    font-weight: 700;
}
#article{
    padding: 0px 20px 20px 20px;
    margin: 20px 15px 20px 15px;
}